/* Stili Generali e Reset */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* Sfondo scuro per il contrasto con i puntini bianchi */
    color: #fff;
    overflow-x: hidden; /* Evita scroll orizzontale */
}

/* Stile per l'Animazione Canvas */
#network {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Il canvas sta dietro */
}

/* Stile per la Sezione Principale (Contenuto sopra il Canvas) */
.hero-section {
    position: relative;
    z-index: 10; /* Il contenuto deve stare sopra il canvas */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Centra verticalmente */
    padding-top: 50px;
}

.content {
    text-align: center;
    margin-bottom: 150px; /* Spazio prima della sezione Skills */
}

h1 {
    font-size: 3em;
    margin: 10px 0;
    letter-spacing: 2px;
}

p {
    font-size: 1.2em;
    color: #ccc;
}

.project-button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 25px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.project-button:hover {
    background-color: #fff;
    color: #000;
}

.skills-preview h2 {
    font-size: 2em;
    margin-bottom: 50px;
    border-bottom: 2px solid #555;
    padding-bottom: 10px;
}


/* Stile Controlli Musica */
#music-controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    display: flex;
    align-items: center;
}

#toggle-music {
    background: none;
    border: 2px solid #ccc;
    color: #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

#toggle-music:hover {
    border-color: #fff;
    color: #fff;
}
